@using GreenShop.Web.Mvc.App.ViewModels.Catalog
@model CategoryViewModel
@{
    ViewData["Title"] = Model.Category.Name;
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
            @foreach (var product in Model.Products)
            {
        <h3>
            @Html.ActionLink(product.Name, "Product", "Catalog", new { id = product.Id }, null)
        </h3>
            <h4>
                @product.Description
            </h4>
            <h5>
                Rating: @product.Rating
                Base Price: @product.BasePrice
            </h5>
            }
        </div>
</div>